* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
  }
  body {
    height: 100vh;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: radial-gradient(#fff, rgb(107 85 175 / 52%));
  }
  .card {
      
    position: relative;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    /* border: 2px solid red; */
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    padding: 30px 50px;
    /* background: #fff; */
   

    cursor: pointer;
                         
  }
  .card:hover{
      height: 300px;
      background: radial-gradient(#fff, rgb(188 178 217));
  }
  .imgbox {
    position: relative;
    width: 100%;
    height: auto;
    transform: translateY(-65px);
    z-index: 5;
  }
  img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
    overflow: hidden;
  }
  .content{
      position: relative;
      width: auto;
    line-height: 20px;
      text-align: center;
      transform: translateY(-200px);
      margin: auto;
      /* border: 2px solid red; */
      padding: 0px 2px ;
      opacity: 0;
      transition: 0.5s;
  }
  .content h2{
      margin: 0px auto 10px auto;
      padding: 2px 2px;
  }
  .card:hover >.content{
      opacity: 1;
      transform: translateY(-50px);
  }