*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    place-items: center;
    height: 100vh;
    background: #acd2fb;
}
a{
    font-size: 25px;
    word-spacing: 2px;
    letter-spacing: 4px;
    padding: 10px 25px ;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background: #073668;
    position: relative;

}
a::before{
    content: "Hello Everyone";
    padding: 10px 25px ;
    position: absolute;
    top: 0%;
    left: 0%;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background: #7a004b;
    /* opacity: 0; */
    transform: rotateX(270deg);
    transition:  all .5s;
    transform-origin: top;

}
a:hover::before{
    opacity: 1;
    transform: rotateX(0deg);
    
}a::after{
    content: "Hello Everyone";
    padding: 10px 25px ;
    position: absolute;
    top: 0%;
    left: 0%;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background: #16a11d;
    /* opacity: 0; */
    transform: rotateX(270deg);
    transition:  all .5s;
    transform-origin: bottom;
    transition-delay: .3s;

}
a:hover::after{
    opacity: 1;
    transform: rotateX(0deg);
    
}